
.welcome {
    padding: 150px 32px 180px 32px;
    z-index: 2;
  }
  
  .welcome-content {
    max-width: 1410px;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  
  .welcome-title {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  
  .welcome-block {
    z-index: 3;
  }
  
  .welcome-subtitle {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  
  .welcome-text {
    font-family: "Roboto", sans-serif;
    color: #ccc;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 38px;
    margin-top: 0;
    max-width: 800px;
  }
  
  .mrb-8 {
    margin-bottom: 8px;
  }
  
  .mrb-32 {
    margin-bottom: 52px;
  }
  
  .blob {
    position: absolute;
    right: 0;
    top: -90px;
    width: 600px;
    z-index: 1;
  }
  
  .typing-demo {
    width: 24ch;
    animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
  
    font-family: monospace;
    font-size: 38px;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }